.nav-ul {
  height: 3em;
  font-size: 17px;
  background-color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo{
  width: 50px;
}

.nav-ul li {
  display: inline-block;
  padding: 10px;
}

.nav-ul li a {
  color: white;
  text-decoration: none;
  padding: 5px;
}

.register, .login {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inputBox {
  padding: 7px;
  border: 1px solid skyblue;
  width: 300px;
  margin-bottom: 1em;
}

.product-list ul {
  display: inline-block;
  list-style: none;
}
.product-list ul li {
  text-decoration: none;
}

.appButton {
  background-color: blue;
  width: 150px;
  padding: 10px;
  margin: 20px;
  border: solid 1px;
}

.footer {
  position: absolute;
  bottom: 0px;
  background-color: blue;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/*cart*/

.cart {
  width: 100%;
  justify-content: center;
  display: flex;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
